/* Style for list without bullets, margin and padding */
ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: small;
}

h2.features {
  font-size: medium;
  font-weight: bold;
  margin-top: 25px;
}

h1.price {
  text-align: center;
}

button.buy-now {
  background-color: #20a1c1 !important;
  font-weight: bold;
}

button.get-a-loan {
  background-color: #72ecbb !important;
}

button.bank {
  background-color: #ecd772 !important;
}

button.work {
  background-color: #556dcd !important;
  color: #ffffff;
}

button.repay-loan {
  background-color: #cd55af !important;
}

nav.navbar {
  padding-left: 3em !important;
  background-color: #3a3a3a !important;
}